#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pfp {
  border-radius: 40%;
  width: 60vh;
  height: auto;
}

.mainInfo {
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 7rem;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.textInfo {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 40rem;
}

.typing {
  width: 11ch;
  animation: typing 1.5s steps(11), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
