.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    padding: 0 3vw;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;

}

.logo {
    height: 10vh;
    width: auto;
    border-radius: 50%; 
    object-fit: cover;  
    overflow: hidden;   
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-right a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

.navbar-right a:hover {
    color: #222;
    text-decoration: none;
}

.navbar-right a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #d1d5db; 
    transition: width 200ms ease;
}

.navbar-right a:hover::after {
    width: 100%;
}